body{
background-color: rgb(0, 0, 0);
color: grey;
}
.log-out{
  margin: 8px auto;
}
.btn{
  border-radius: 0;
  background-color: rgb(200, 200, 200);
  color: rgb(255, 255, 255);
  border-color: rgb(4, 192, 239);
}
.navbar-brand{
  color:rgb(255, 255, 255);
}
.btn:hover {
  background-color: rgba(150, 150, 150,1);
  border-color: rgb(4, 192, 239);
}
.btn-input-group.btn:focus {
  background-color: rgba(125, 125, 125,1);
  border-color: rgb(4, 192, 239);
}
.delete-comment-button:hover{
  background-color: rgb(255, 100, 100);
}
.delete-post-button{
  background-color: rgb(255, 100, 100);
}
.delete-post-button:hover{
  background-color: rgb(235, 70, 55);
}
.delete-post-button:focus{
  background-color: rgb(222, 71, 57);
}
.like-post-button:hover{
  background-color: rgb(135, 200, 255);
}
.like-comment-button:hover{
  background-color: rgb(135, 200, 255);
}
.friend{
  border-bottom: solid 1px rgb(4, 192, 239);
  padding: 5px;
}
.delete-friend-button{
  background-color: rgb(255, 100, 100);
}
.delete-friend-button:hover{
  background-color: rgb(235, 70, 55);
}
.delete-friend-button:focus{
  background-color: rgb(222, 71, 57);
}
.add-friend-button{
  background-color: rgb(178, 226, 170);
}
.add-friend-button:hover{
  background-color: rgb(108, 201, 94);
}
.add-friend-button:focus{
  background-color: rgb(77, 183, 61);
}

img{
  max-height: 300px;
  max-width: 500px;
}
.blue{
  color: rgb(4, 192, 239);
}

.off-topic-button{
  z-index: -2;
  width: 87.75px;
  height: 34.67px;
}

.comment{
  border: 1.5px solid rgb(4, 192, 239);
  border-bottom-width: 0px;
  border-top-width: 0px;
  margin-left: 10px;
  margin-right:10px;
  margin-top: -1px;
  padding: 0px;
}

.navbar{
  background-color: rgba(0, 0, 0, 1);
  border-color: rgb(4, 192, 239);
  border-width: 1.5px;
}

.btn-default{
  background-color: rgba(204, 204, 204, .88);
  color: rgba(245, 245, 245, .88);
  border-color: rgb(4, 192, 239);
}

.found-user-modal-body{
  padding: 10px 30px 10px 10px;
}

.profile-image{
  /*height: 60px;*/
}

.like-comment-button{
  border-left: solid 0px transparent;
}

.edit-post-button{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 55.75px;
}

#friend-list-target{
  height:400px;
  border-top: solid 1px rgb(4, 192, 239);
  overflow-y: scroll;
}

#postTarget{
  /*background-color: grey;*/
  margin-top: 15px;
  height: 650px;
  overflow-y: scroll;
  border-top: solid 1px rgb(4, 192, 239);
}

.post{
  margin:10px;
  background-color: rgba(3, 6, 6, 0.0);
  border: solid 1px rgb(4, 192, 239);
  padding: 10px;
}

.comment-dropdown{
  width:86px;
}
.delete-comment-button{
  width:32px;
  padding-left: 8px;
  margin-right: -2px;
}
.comment-form{
  display:inline-flex;
  border-radius: 0px;
  width:100%;
  margin-left: -2px;
}

.update-comment-button{
  width:55.75px;
}
.edit-comment-button{
  width:55px;
}

.form-control{
  border-radius: 0px;
  border-color: rgb(4, 192, 239);
}

.comment-edit-input{
  width: 105% !important;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 10px;
}
.comment-input:{
  height:34px;
}

.post-bar{
  width:100%;
  padding-right: 80px;
}
.comment-bar{
  margin:0;
  margin-top: -1px;
  width: 100%;
  padding: 0;
}

.edit-post-button{
}
.comment-content{
  padding-left:13px;
  padding-right: -10px;
}
.comment-text{
  width: 100%;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: left;
  border: 1px solid rgb(4, 192, 239);
  margin-left: 1px;
  margin-top: 1px;
  border-top: 0px;
}

.modal-content{
  border-radius: 2px;
}

.dropdown-menu{
  min-width: 0;
  padding: 0px;
  border: 0px;
}

.btn-lg{
  height: 54px;
};

#newPostForm{
  width:100%
}

.form-group{
  width: 100%;
}

.input-group{
  width: 100%;
}
